<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="js/underscore-min.js" type="text/javascript"> </script>
  <link rel="stylesheet" href="css/coChoice_draft.css">
  
</head>

 <body> 
  <div class="slide" id="start">
      
      <p class="block-text">
        Welcome to the experiment! We are interested in studying how groups of individuals make decisions.This study involves answering questions about yourself and making decisions.
    </p>

      <p class="block-text">
      Please note that you will be compensated for completing this HIT only <b><u>ONCE.</b></u> You will <b><u>NOT</b></u> be paid for additional HITs.
    </p>
      
      <button type="button" id ="next" onclick="window.location = 'experiment'"">Continue</button>
 
    </div>  
  </body>

</html>
